@media screen  and (max-width:750px){
    img { max-width: 100%; }

    header {
        background-image: url("../images/fvrightsp.png"), url("../images/fvleftsp.png");
    }

    .titlebox {
        width: 90vw;
    }
      
    header h1 {
        font-size: 45px;
        height: 70px;
        line-height: 22px;
    }
      
    header p {
        font-size: 14px;
        width: 210px;
        margin: auto;
    }
      
    header img {
        width: 90vw;
        min-width: 100px;
        margin-top: 28vh;
    }
      
    /* ナビゲーションの箱 */
    nav {
        display: none;
    }

    /* 大正時代について紹介するセクション */
    .whatistaisho {
        width: 90vw;
    }
      
    .about h2 {
        font-size: 25px;
        height: 90px;
        margin: 60px 0;
    }
      
    .about p {
        font-size: 14px;
        line-height: 33px;
    }
      
    .workingwomon {
        font-size: 14px;
    }
      
    .textbox {
        width: 200px;
        height: 150px;
        margin: 18vh auto;
    }
      
    .zukan {
        width: 90vw;
        height: 100vh;
        margin: 8vh auto;
    }
      
    .zukan h2 {
        font-size: 25px;
        height: 25px;
        background-size: cover;
    }
      
    .howto h2 {
        width: 90vw;
        height: 80px;
        font-size: 18px;
        margin: 3vh auto;
        padding: 10px 60px;
        line-height: 27px;
    }
    
      .box {
        min-height: 250px;
        flex-flow: column;
        flex-direction: column;
        width: 90vw;
        background-image: url("../images/yellow.png");
        background-size: cover;
      }
    
      .japanese_images1 {
        position: relative;
        width: 80vw;
        height: auto;
        margin: 5vw auto;
        margin-bottom: 0;
      }
    
      .japanese_images1 img {
        width: 80vw;
        height: 80vw;
        padding-top: 3vw;
        background-image: url("../images/pink.png");
        background-size: 100%;
        background-position: center;
      }  
    
      .japanese_images2 {
        width: 80vw;
        height: auto;
        margin: 5vw auto;
        order: 0;
      }
    
      .japanese_images2 img {
        width: 80vw;
        height: 80vw;
        padding-top: 3vw;
        background-image: url("../images/blue.png");
        background-size: 100%;
        background-position: center;
      }  

      .japanese_images3 {
        width: 80vw;
        height: auto;
        margin: 5vw auto;
      }
    
      .japanese_images3 img {
        width: 80vw;
        height: 80vw;
        padding-top: 3vw;
        background-image: url("../images/red.png");
        background-size: 100%;
        background-position: center;
      }  
    
      .japanese_chara {
        width: 80vw;
        height: fit-content;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 5vw;
        min-width: 0;
        min-height: 0;
        order: 1;
      }
    
      .japanese_chara h4 {
        font-size: 21.5px;
        color: #FBF7E9;
      }
    
      .dot {
        color: #FBF7E9;
      }
    
      .japanese_chara h3 {
        font-size: 18px;
        text-align: center;
        padding: 10px 0px;
        line-height: 35px;
      }
    
      .japanese_chara p {
          font-size: 14px;
          line-height: 32.5px;
          padding: 10px 0px;
      }

    footer {
        min-height: 280px;
        max-height: 300px;
        background-image: url("../images/Union.png");
    }

    .gototop p {
        font-size: 15px;
    }
      
    footer h1 {
        font-size: 36px;
    }

    .link {
        display: none;
    }
}