@media screen  and (max-width:750px){
    html { font-size: 12px; }

    img { max-width: 100%; }

    body { overflow-x: hidden; }

    header {
        background-image: url("../images/fvrightsp.png"), url("../images/fvleftsp.png");
    }
      
    header img {
        width: 90vw;
        min-width: 100px;
    }
      
    /* ナビゲーションの箱 */
    nav {
        display: none;
    }

    /* 大正時代について紹介するセクション */
    .whatistaisho {
        position: absolute;
        top: 0;
        width: 85vw;
        margin: 0 auto;
      }

    .about h2 {
        font-size: 2.5rem;
        height: 90px;
        margin: 50px 0 30px;
        line-height: 3.75rem;
    }
      
    .about p {
        font-size: 1.4rem;
        line-height: 33px;
    }

    .townpc {
        display: none;
    }

    .townsp {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100vw;
        margin: auto;
      }
    
      
    .workingwomon {
        font-size: 1.4rem;
        height: 20vh;
    }

    .workingwomon p {
        line-height: 3px;
    }

    .workingwomon span {
        line-height: 21px;
    }
      
    .textbox {
        width: 200px;
        height: 150px;
        margin: 18vh auto;
    }
      
    .zukan {
        width: 90vw;
        height: auto;
        margin: 8vh auto;
    }
      
    .zukan h2 {
        font-size: 2.5rem;
        height: 25px;
        background-size: cover;
    }

    .shioripc {
        display: none;
    }

    .shiorisp {
        width: 100vw;
        height: fit-content;
        margin: 0 auto;
    }

    .salarysp {
        width: 100vw;
        height: 80vh;
        display: flex;
        padding: 0 5vw;
        position: relative;
    }
    
    .salaryspimg {
        height: 130vw;
        width: 50vw;
        margin: 0 2vw;
        background-image: url("../images/blueshiori.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        transform: rotate(-7deg);
    }
    
    .salaryspimg img {
        height: 130vw;
        padding: 45vw 2vw 15vw;
    }
    
    .salaryspchara {
        height: 130vw;
        width: 50vw;
        margin: 0 2vw;
        padding: 40vw 4vw 15vw;
        background-image: url("../images/blueshiori.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        transform: rotate(7deg);
        position: absolute;
        top: 0;
        left: 40vw;
    }
    
    .salaryspchara h4 {
        font-family: ab-doramin, sans-serif;
        font-size: 1.4rem;
        letter-spacing: 0em;
        line-height: auto;
        text-align: left;
        text-decoration:underline;
        border-width:0.3px;
        line-height: 1px;
    }
    
    .salaryspchara h3 {
        font-size: 2rem;
        letter-spacing: 0.6em;
        padding-bottom: 2px;
        border-bottom: solid 10px rgba(68, 102, 121, 0.25);
        margin: 1.5vw auto;
        line-height: 2vh;
    }
    
    .salaryspchara p {
        font-size: 1.3rem;
        text-align: left;
        line-height: 21px;
        letter-spacing: 0.2em;
        background-color: #F7F8F5;
        margin-top: 2vh;
    }
    
    .nursesp{
        width: 100vw;
        height: 80vh;
        display: flex;
        padding: 0 5vw;
        position: relative;
    }
    
      .nursespimg {
        height: 130vw;
        width: 50vw;
        margin: 0 2vw;
        background-image: url("../images/konshiori.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        transform: rotate(0deg);
        position: absolute;
        top: 0;
        left: 40vw;
        transition: transform 1s;
      }
    
      .nursespimg img {
        height: 130vw;
        padding: 45vw 2vw 15vw;
      }

      .nursespchara {
        height: 130vw;
        width: 50vw;
        margin: 0 2vw;
        padding: 40vw 4vw 15vw;
        background-image: url("../images/konshiori.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        transform: rotate(-7deg);
    }
    
    .nursespchara h4 {
        font-family: ab-doramin, sans-serif;
        font-size: 1.4rem;
        letter-spacing: 0em;
        line-height: auto;
        text-align: left;
        text-decoration:underline;
        border-width:0.3px;
        line-height: 1px;
    }
    
    .nursespchara h3 {
        font-size: 2rem;
        letter-spacing: 0.6em;
        padding-bottom: 2px;
        border-bottom: solid 10px rgba(88, 72, 83, 0.25);
        margin: 1.5vw auto;
        line-height: 2vh;
    }
    
    .nursespchara p {
        font-size: 1.3rem;
        text-align: left;
        line-height: 21px;
        letter-spacing: 0.2em;
        background-color: #F9EBC4;
        margin-top: 2vh;
    }

    .busgirlsp{
        width: 100vw;
        height: 80vh;
        display: flex;
        padding: 0 5vw;
        position: relative;
    }
    
      .busgirlspimg {
        height: 130vw;
        width: 50vw;
        margin: 0 2vw;
        background-image: url("../images/blueshiori.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        transform: rotate(-7deg);
      }
    
      .busgirlspimg img {
        height: 130vw;
        padding: 45vw 2vw 15vw;
      }

      .busgirlspchara {
        height: 130vw;
        width: 50vw;
        padding: 0 2vw;
        padding: 40vw 4vw 15vw;
        background-image: url("../images/blueshiori.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        transform: rotate(7deg);
        position: absolute;
        top: 0;
        left: 40vw;
    }
    
    .busgirlspchara h4 {
        font-family: ab-doramin, sans-serif;
        font-size: 1.4rem;
        letter-spacing: 0em;
        line-height: auto;
        text-align: left;
        text-decoration:underline;
        border-width:0.3px;
        line-height: 1px;
    }
    
    .busgirlspchara h3 {
        font-size: 1.8rem;
        padding-bottom: 2px;
        border-bottom: solid 10px rgba(68, 102, 121, 0.25);
        margin: 1.5vw auto;
        line-height: 2vh;
        letter-spacing: 0.2em;
    }
    
    .busgirlspchara p {
        font-size: 1.3rem;
        text-align: left;
        line-height: 21px;
        letter-spacing: 0.2em;
        background-color: #F7F8F5;
        margin-top: 2vh;
    }

      .dotkon {
        font-family: "ロゴたいぷゴシック-コンデンスド" ;
        text-decoration:underline;
        border-width:0.3px;
      }
      
    .howto h2 {
        width: 90vw;
        height: 80px;
        font-size: 1.8rem;
        margin: 3vh auto;
        padding: 10px 60px;
        line-height: 27px;
    }
    
      .box {
        min-height: 250px;
        flex-flow: column;
        flex-direction: column;
        width: 90vw;
        background-image: url("../images/yellow.png");
        background-size: cover;
      }
    
      .japanese_images1 {
        position: relative;
        width: 80vw;
        height: auto;
        margin: 5vw auto;
        margin-bottom: 0;
      }
    
      .japanese_images1 img {
        width: 80vw;
        height: 80vw;
        padding-top: 3vw;
        background-image: url("../images/pink.png");
        background-size: 100%;
        background-position: center;
      }  

      .japanese_images1 h4 {
        position: absolute;
        top: 7px;
        left: 15px;
        font-size: 1.6rem;
        color: #FBF7E9;
        font-family: ab-doramin, sans-serif;
        letter-spacing: 0em;
        line-height: auto;
        text-align: left;
        text-decoration:underline;
        border-width:0.3px;
      }
    
      .japanese_images2 {
        position: relative;
        width: 80vw;
        height: auto;
        margin: 5vw auto;
        order: 0;
      }
    
      .japanese_images2 img {
        width: 80vw;
        height: 80vw;
        padding-top: 3vw;
        background-image: url("../images/blue.png");
        background-size: 100%;
        background-position: center;
      }  

      .japanese_images2 h4 {
        position: absolute;
        top: 7px;
        left: 15px;
        font-size: 1.6rem;
        color: #FBF7E9;
        font-family: ab-doramin, sans-serif;
        letter-spacing: 0em;
        line-height: auto;
        text-align: left;
        text-decoration:underline;
        border-width:0.3px;
      }

      .japanese_images3 {
        position: relative;
        width: 80vw;
        height: auto;
        margin: 5vw auto;
      }
    
      .japanese_images3 img {
        width: 80vw;
        height: 80vw;
        padding-top: 3vw;
        background-image: url("../images/red.png");
        background-size: 100%;
        background-position: center;
      }  

      .japanese_images3 h4 {
        position: absolute;
        top: 2vw;
        left: 4vw;
        font-size: 1.6rem;
        color: #FBF7E9;
        font-family: ab-doramin, sans-serif;
        letter-spacing: 0em;
        line-height: auto;
        text-align: left;
        text-decoration:underline;
        border-width:0.3px;
      }
    
      .dot {
        color: #FBF7E9;
      }
    
      .japanese_chara {
        width: 80vw;
        height: fit-content;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 5vw;
        min-width: 0;
        min-height: 0;
        order: 1;
      }
    
      .japanese_chara h4 {
        display: none;
      }
    
      .japanese_chara h3 {
        font-size: 1.8rem;
        text-align: center;
        padding: 0 0 10px;
        line-height: 35px;
      }
    
      .japanese_chara p {
          font-size: 1.4rem;
          line-height: 32.5px;
          padding: 10px 0px;
      }

    footer {
        min-height: 280px;
        max-height: 300px;
        background-image: url("../images/Union.png");
    }

    .gototop p {
        font-size: 1.5rem;
    }
      
    footer h1 {
        font-size: 3.6rem;
    }

    .link {
        display: none;
    }
}

@media screen  and (max-width:360px){
    html { font-size: 10px; }
}