/* ===== Webサイト全体のセットアップ ===== */
/* メインの日本語フォントの取り込み */
@charset "utf-8";

@font-face
{
font-family:"ロゴたいぷゴシック-コンデンスド" ;
src: url('https://cdn.leafscape.be/LogoTypeGothicCondense/07LogoTypeGothic-Condense_web.woff2')
     format("woff2");
}

/* ===== Webサイト全体のスタイル ===== */

/* 全体にスタイルを適用 */
* { 
    margin: 0;
    padding: 0;
  
    /* ここでpaddingやmarginをwidthに含める */
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 

    font-family: "ロゴたいぷゴシック-コンデンスド" ;
    font-weight: 400;
    font-style: normal;
    text-align: center;     /* 基本的には文字は中央揃え */
    letter-spacing: 0.25em; /* 基本的には文字間隔は25%開ける */
    color: #584853;       /* 文字色指定 */
    line-height: 50px;      /* 行間指定 */
}

/* html */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #E5E5E5;  /* 背景色指定 */
}

/* アクセントとなるフォントの指定 */
h1, h2 {
    font-family: ab-doramin, sans-serif;
}

/* レスポンシブ対応の見出し改行位置の調整 */
span {
    display: inline-block;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/fvright.png"), url("../images/fvleft.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top 0% right 0%, bottom 0% left 0%;
    background-size: contain, contain;
}

.titlebox {
  width: 72vw;
  margin: 0 auto;
}

header h1 {
    font-size: 110px;
    height: 135px;
    line-height: 37%;
    letter-spacing: 0.36em;
    margin: 10px auto;
    padding: 10px 0px 0px 6vw;
}

header p {
    font-size: 28px;
}

header img {
  width: 75vw;
  min-width: 830px;
  max-width: 1150px;
  height: auto;
  margin: 0 auto;
  margin-top: 18vh;
}



/* ナビゲーションの箱 */
nav {
    background-color: #F8EBC4;
    width: 100vw;
    height: 85px;
    
  }

  /* リスト全体 */
  nav ul {
    text-align: center;
    /* 左右中央揃え */
    display: flex;
    justify-content: center;
  }
  
  /* １つ１つのリスト */
  nav li {
    display: inline-block;
    width: 24vw;
    text-align: center;
    height: 85px;

    /* 上下左右中央揃え */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* リンク */
  nav a {
    text-decoration: none;
    font-size: 24px;
  }
  
  /* リンクにふれた時 */
  nav li:hover {
    background: rgba( 229, 229, 229, 0.4);  /* 背景色指定 */

    background-image: url("../images/noshi.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  nav li:hover a {
    color: #C67B79;
  }

  /* 大正時代について紹介するセクション */
  .about {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .whatistaisho {
    position: absolute;
    top: 10vh;
    right: 0;
    left: 0;
    margin: auto;
    width: 72vw;
  }

  .about h2 {
    font-size: 48px;
    height: 55px;
    margin: 40px 0;
  }

  .about p {
    font-size: 24px;
    text-align: left;
  }

  .about img {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    min-width: 800px;
    margin: auto;
  }

  .workingwomon {
    font-size: 32px;
    height: 27vh;
  }

  .textbox {
    width: 72vw;
    margin: 18vh auto;
  }

  .zukan {
    width: 78vw;
    height: 100vh;
    margin: 8vh auto;
  }

  .zukan h2 {
    font-family:"ロゴたいぷゴシック-コンデンスド" ;
    font-size: 60px;
    height: 65px;
    margin: 2vw;
    text-align: center;
    background-image: url("../images/vector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .shiori {
    height: 82vh;
    margin: 0 auto;
    display: flex;
  }

  .salaryimg {
    height: 79vh;
    width: 22vw;
    margin: 0 2vw;
    background-image: url("../images/blueshiori.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: block;
    z-index: 100;
    position: relative;
  }

  .salaryimg img {
    height: 70vh;
    padding: 0 1vw;
    padding-top: 29vh;
  }

  .salarychara {
    height: 79vh;
    width: 22vw;
    margin: 0 2vw;
    padding: 26vh 2vw;
    background-image: url("../images/blueshiori.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    transform: rotateY(180deg);/*要素を回転させる*/
    transition:5s;
    z-index: 0;
    position: absolute;
    top: 0;
  }

  .salarychara h4 {
    font-family: ab-doramin, sans-serif;
    font-size: 30px;
    letter-spacing: 0em;
    line-height: auto;
    text-align: left;
    text-decoration:underline;
    border-width:0.3px;
  }

  .salarychara h3 {
    font-size: 40px;
    letter-spacing: 0.6em;
    width: 18vw;
    height: 53px;
    border-bottom: solid 14px rgba(68, 102, 121, 0.25);
    margin: 3vh auto;
    
  }

  .salarychara p {
    font-size: 18px;
    text-align: left;
    line-height: 36px;
    letter-spacing: 0.13em;
  }

  .salaryimg:hover {
    transform: rotateY(180deg);/*要素を裏返す*/
    z-index: 0;/*背面にするため*/
  }

  .salarychara:hover {
    transform: rotateY(0deg);/*裏返した要素を元に戻す*/
    z-index: 100;/*前面に出すため*/
  }

  .nurseimg {
    height: 79vh;
    width: 22vw;
    margin: 0 2vw;
    background-image: url("../images/konshiori.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .nurseimg img {
    padding-top: 27vh;
    height: 71vh;
    width: 17vw;
  }
  

  .busgirlimg {
    height: 79vh;
    width: 22vw;
    margin: 0 2vw;
    background-image: url("../images/blueshiori.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .busgirlimg img {
    padding-top: 27vh;
    height: 71vh;
    width: 16vw;
  }

  .howto h2 {
    font-size: 40px;
    height: 210px;
    padding: 80px 50px;
    margin: 7vh auto;
    background-image: url("../images/scroll.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .box {
    min-height: 522px;
    height: fit-content;
    margin: 3vh auto;
    display: flex;
    justify-content: center;
  }

  .japanese_images1 {
    width: 40vw;
    height: auto;
    margin-right: 1vw;
  }

  .japanese_images1 img {
    width: 36vw;
    height: 36vw;
    padding: 1vw 1vw 3vw 3vw;
    background-image: url("../images/pink.png"), url("../images/yellow.png");
    background-size: 95%, 95%;
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left bottom;
  }  

  .japanese_images2 {
    width: 40vw;
    height: auto;
    margin-left: 1vw;
  }

  .japanese_images2 img {
    width: 36vw;
    height: 36vw;
    padding: 1vw 3vw 3vw 1vw;
    background-image: url("../images/blue.png"), url("../images/yellow.png");
    background-size: 95%, 95%;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
  }  

  .japanese_images3 {
    width: 40vw;
    height: auto;
    margin-right: 1vw;
  }

  .japanese_images3 img {
    width: 36vw;
    height: 36vw;
    padding: 1vw 1vw 3vw 3vw;
    background-image: url("../images/red.png"), url("../images/yellow.png");
    background-size: 95%, 95%;
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left bottom;
  }  

  .japanese_chara {
    width: 34vw;
    min-width: 406px;
    height: 40vw;
    min-height: 570px;
    padding: 0 40px;
  }

  .japanese_chara h4 {
    font-family: ab-doramin, sans-serif;
    font-size: 37px;
    letter-spacing: 0em;
    line-height: auto;
    text-align: left;
    text-decoration:underline;
    border-width:0.3px;
  }

  .dot {
    font-family: "ロゴたいぷゴシック-コンデンスド" ;
    text-decoration:underline;
    border-width:0.3px;
  }

  .japanese_chara h3 {
    font-size: 40px;
    text-align: left;
    padding: 10px 0px;
  }

  .japanese_chara p {
      font-size: 22px;
      line-height: 36px;
      text-align: left;
  }

  footer {
    position: relative;
    height: 35vh;
    min-height: 400px;
    max-height: 500px;
    width: 100vw;
    padding: 3vh;
    background-image: url("../images/footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .gototop {
    width: 200px;
    height: auto;
    margin: 0 auto;
  }

  .gototop img {
    width: 80px;
    height: auto;
  }

  .gototop p {
    font-size: 18px;
    color: #F7F7F5;
    line-height: 20px;
  }
  
  .copy {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .copy p {
    font-size: 14px;
    color: #F7F7F5;
    margin: 0 auto;
  }

  footer h1 {
    font-size: 64px;
    color: #F7F7F5;
    height: fit-content;
    margin: 30px;
  }

  /* フッターのリンクの箱 */
.link {
  width: 43vw;
  height: 55px;
  margin: 0 auto;
}

/* リンクのリスト全体 */
.link ul {
  text-align: center;
  /* 左右中央揃え */
  display: flex;
  justify-content: center;
}

/* １つ１つのリスト */
.link li {
  width: 13vw;
  min-width: 123px;
  text-align: center;
  height: 55px;
  margin: 0 1vw;
  background-color: #F7F7F5;
  border-radius: 10px;

  /* 上下左右中央揃え */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* リンク */
.link a {
  text-decoration: none;
  font-size: 14px;
}

/* リンクにふれた時 */
.link li:hover {
  background: #F8EBC4;  /* 背景色指定 */

  background-image: url("../images/noshi.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.link li:hover a {
  color: #C67B79;
}

/* スクロールアニメーション用 */
.scroll-fade{opacity: 0; transition: all 2s/*処理にかかる時間*/;}
.scroll-up{opacity: 0; transform: translateY(100px)/*スクロールアップする距離*/; transition: all 2s/*処理にかかる時間*/;}
.scroll-up.done, .scroll-fade.done{opacity : 1; transform : translate(0, 0);}
.load-fade {opacity : 0; transition : all 2s/*処理にかかる時間*/;}
.load-up{opacity: 0; transform: translateY(100px)/*スクロールアップする距離*/; transition: all 2s/*処理にかかる時間*/;}
.load-up.done, .load-fade.done{opacity : 1; transform : translate(0, 0);}

/* スマホ版でのみ表示させたいもの用 */
@media screen  and (min-width:750px){
  .br-sp {display: none; }
}
