/* ===== Webサイト全体のセットアップ ===== */
/* メインの日本語フォントの取り込み */
@charset "utf-8";

@font-face
{
font-family:"ロゴたいぷゴシック-コンデンスド" ;
src: url('https://cdn.leafscape.be/LogoTypeGothicCondense/07LogoTypeGothic-Condense_web.woff2')
     format("woff2");
}

/* ===== Webサイト全体のスタイル ===== */

/* 全体にスタイルを適用 */
* { 
    margin: 0;
    padding: 0;
  
    /* ここでpaddingやmarginをwidthに含める */
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 

    font-family: "ロゴたいぷゴシック-コンデンスド" ;
    font-weight: 400;
    font-style: normal;
    text-align: center;     /* 基本的には文字は中央揃え */
    letter-spacing: 0.25em; /* 基本的には文字間隔は25%開ける */
    color: #584853;       /* 文字色指定 */
    line-height: 50px;      /* 行間指定 */
}

/* html */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #E5E5E5;  /* 背景色指定 */
}

/* アクセントとなるフォントの指定 */
h1, h2 {
    font-family: ab-doramin, sans-serif;
}

/* レスポンシブ対応の見出し改行位置の調整
span {
    display: inline-block;
} */

header {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/fvright.png"), url("../images/fvleft.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top 0% right 0%, bottom 0% left 0%;
    background-size: contain, contain;
}

.titlebox {
  width: 72vw;
  margin: 0 auto;
}

header h1 {
    font-size: 110px;
    height: 135px;
    line-height: 37%;
    letter-spacing: 0.36em;
    margin: 10px auto;
    padding: 10px 0px 0px 6vw;
}

header p {
    font-size: 28px;
}

header img {
  width: 75vw;
  min-width: 830px;
  max-width: 1150px;
  height: auto;
  margin: 0 auto;
  margin-top: 18vh;
}

.box {
    width: 90vw;
    height: 60vh;
}

/* ナビゲーションの箱 */
nav {
    background-color: #F8EBC4;
    width: 100vw;
    height: 85px;
    
  }

  /* リスト全体 */
  nav ul {
    text-align: center;
    /* 左右中央揃え */
    display: flex;
    justify-content: center;
  }
  
  /* １つ１つのリスト */
  nav li {
    display: inline-block;
    width: 24vw;
    text-align: center;
    height: 85px;

    /* 上下左右中央揃え */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* リンク */
  nav a {
    text-decoration: none;
    font-size: 24px;
  }
  
  /* リンクにふれた時 */
  nav li:hover {
    background: rgba( 229, 229, 229, 0.4);  /* 背景色指定 */

    background-image: url("../images/noshi.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  nav li:hover a {
    color: #C67B79;
  }

  /* 大正時代について紹介するセクション */
  .about {
    width: 100vw;
    height: 100vh;
  }

  .textbox {
    width: 72vw;
    margin: 18vh auto;
  }

  .about h2 {
    font-size: 48px;
    height: 55px;
    margin: 60px;
  }

  .about p {
    font-size: 24px;
    text-align: left;
  }

  .about img {
    width: 100vw;
    margin: 0 auto;
  }

  .workingwomon {
    font-size: 32px;
    height: 27vh;
  }

  .zukan {
    width: 78vw;
    height: 100vh;
    margin: 8vh auto;
  }

  .zukan h2 {
    font-family:"ロゴたいぷゴシック-コンデンスド" ;
    font-size: 60px;
    height: 65px;
    margin: 3vw;
    text-align: center;
    background-image: url("../images/vector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .shiori {
    margin: 0 auto;
  }

  .shioriblue {
    position: absolute;
    height: 83vh;
    width: 22vw;
    margin: 2vw;
    background-image: url("../images/blueshiori.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .shiorikon {
    position: absolute;
    height: 83vh;
    width: 22vw;
    margin: 3vw;
    background-image: url("../images/konshiori.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .cloth  {
    position: relative;
    top: 29vh;
    height: 45vh;
    width: 20vw;
  }

  .howto h2 {
    font-size: 48px;
    height: 250px;
    padding: 100px 50px;
    margin: 8vh auto;
    background-image: url("../images/scroll.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .box {
    width: 69vw;
    display: flex;
    margin: auto;
  }

  .japanese_images1 {
    width: 36vw;
    height: auto;
    margin: 2vw;
  }

  .japanese_images1 img {
    width: 32vw;
    height: 32vw;
    padding: 1vw 1vw 3vw 3vw;
    background-image: url("../images/pink.png"), url("../images/yellow.png");
    background-size: 93.75%, 93.75%;
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left bottom;
  }  

  .japanese_images2 {
    width: 36vw;
    height: auto;
    margin: 2vw;
  }

  .japanese_images2 img {
    width: 32vw;
    height: 32vw;
    padding: 1vw 3vw 3vw 1vw;
    background-image: url("../images/blue.png"), url("../images/yellow.png");
    background-size: 93.75%, 93.75%;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
  }  

  .japanese_images3 {
    width: 36vw;
    height: auto;
    margin: 2vw;
  }

  .japanese_images3 img {
    width: 32vw;
    height: 32vw;
    padding: 1vw 1vw 3vw 3vw;
    background-image: url("../images/red.png"), url("../images/yellow.png");
    background-size: 93.75%, 93.75%;
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left bottom;
  }  

  .japanese_chara {
    width: 34vw;
    height: 36vw;
    margin: 2vw;
    padding: auto;
  }

  .japanese_chara h4 {
    font-family: ab-doramin, sans-serif;
    font-size: 43px;
    letter-spacing: 0;
    line-height: auto;
    text-align: left;
  }

  .dot {
    font-family: "ロゴたいぷゴシック-コンデンスド" ;
  }

  .japanese_chara h3 {
    font-size: 40px;
    text-align: left;
  }

  .japanese_chara p {
      font-size: 24px;
      line-height: 36px;
      text-align: left;
  }

/* フロートを解除したいものにつけるクラス */
.clearfix::after {
    content: "";
    /* ブロックレベル要素にする */
    display: block;
    height: 0;
    /* フロート解除 */
    clear: both;    
    /* 非表示にする */
    visibility: hidden;
}