/* ===== Webサイト全体のセットアップ ===== */
/* メインの日本語フォントの取り込み */
@charset "utf-8";

@font-face
{
font-family:"ロゴたいぷゴシック-コンデンスド" ;
src: url('https://cdn.leafscape.be/LogoTypeGothicCondense/07LogoTypeGothic-Condense_web.woff2')
     format("woff2");
}

/* ===== Webサイト全体のスタイル ===== */

/* 全体にスタイルを適用 */
* { 
    margin: 0;
    padding: 0;
  
    /* ここでpaddingやmarginをwidthに含める */
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 

    font-family: "ロゴたいぷゴシック-コンデンスド" ;
    font-weight: 400;
    font-style: normal;
    text-align: center;     /* 基本的には文字は中央揃え */
    letter-spacing: 0.25em; /* 基本的には文字間隔は25%開ける */
    color: #584853;       /* 文字色指定 */
    line-height: 50px;      /* 行間指定 */
}

/* html */
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #E5E5E5;  /* 背景色指定 */
}

/* アクセントとなるフォントの指定 */
h1, h2 {
    font-family: ab-doramin, sans-serif;
}

/* レスポンシブ対応の見出し改行位置の調整 */
span {
    display: inline-block;
}

header {
    width: 100%;
    height: 100%;

    /* 上下左右揃え */
    display: flex;
    justify-content: center;
    align-items: center;
}


header h1 {
    font-size: 120px;
    height: 135px;
    line-height: 37%;
    letter-spacing: 0.36em;
    margin: 50px;
}

header p {
    font-size: 28px;
}

.box {
    width: 90%;
    height: 60%;
}

/* ナビゲーションの箱 */
nav {
    background-color: #F8EBC4;
    width: 100%;
    height: 85px;
    
  }

  /* リスト全体 */
  nav ul {
    text-align: center;
    /* 左右中央揃え */
    display: flex;
    justify-content: center;
  }
  
  /* １つ１つのリスト */
  nav li {
    display: inline-block;
    width: 23vw;
    text-align: center;
    height: 85px;
    /* 上下左右中央揃え */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* リンク */
  nav a {
    text-decoration: none;
    font-size: 24px;
  }
  
  /* リンクにふれた時 */
  nav li:hover {
    background: rgba( 229, 229, 229, 0.4);  /* 背景色指定 */
  }

  nav li:hover a {
    color: #C67B79;
  }

  /* 大正時代について紹介するセクション */
  .about {
    width: 100vw;
    height: 100vh;

  }

  .textbox {
    width: 69vw;
    margin: 18vh auto;
  }

  .about h2 {
    font-size: 48px;
    height: 55px;
    margin: 60px;
  }

  .about p {
    font-size: 24px;
    text-align: left;
  }
  .workingwomon {
    font-size: 32px;
    height: 27vh;
  }

  .zukan {
    width: 100vw;
    height: 100vh;
    margin: 8vh auto;
  }

  .zukan h2 {
    font-family:"ロゴたいぷゴシック-コンデンスド" ;
    font-size: 60px;
    height: 65px;
  }

  .howto h2 {
    height: 30vh;
    margin: 8vh auto;
  }

  .box {
    width: 69vw;
    margin: 10vh auto;
  }

  .japanese_images {
    width: 38vw;
    height: auto;
    margin: 2.5em;
  }

  .japanese_chara {
    width: 30vw;
    height: 38vw;
  }

  .japanese_chara h4 {
    font-family: ab-doramin, sans-serif;
    font-size: 43px;
    letter-spacing: 0;
    line-height: auto;
  }

  .dot {
    font-family: "ロゴたいぷゴシック-コンデンスド" ;
  }

  .japanese_chara h3 {
    font-size: 40px;
    text-align: left;
  }

  .japanese_chara p {
      font-size: 24px;
      line-height: 36px;
      text-align: left;
  }

/* フロートを解除したいものにつけるクラス */
.clearfix::after {
    content: "";
    /* ブロックレベル要素にする */
    display: block;
    height: 0;
    /* フロート解除 */
    clear: both;    
    /* 非表示にする */
    visibility: hidden;
}